* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}



.image {
    width: 125px;
    height: 125px;
    position: center;
}

.container {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    margin: 0px;
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 4fr;



    .leftside {
        position: initial;
        background-color: #DCD6F7;
        margin: 3px;
        padding: 18px;
        border: 2px solid #985F6F;

            .education {
                margin-top: 9px;
            }

            .skills {
                margin-top: 9px;
            }

            h2 {
                margin-top: 9px;
                color: #985f6f;
                border-bottom: 1px solid #985f6f;
            }

    }

    .rightside {
        position: initial;
        background-color: #A6B1E1;
        margin: 3px;
        padding: 18px;
        border: 2px solid #985F6F;


        
    }

}



.contactTitle {
    border-bottom: 1px solid;
    align-items: center;
    justify-content: space-between;
}

.name {
    border-bottom: 1px solid #985f6f;
    color: #985f6f;
}

.aboutMe {
    margin: 2px;
    margin-top: 7px;
}

ul,
li {
    margin-left: 10px;
}

.experiences {
    margin-top: 4px;
}

.experience {
    border-bottom: 1px solid #985f6f;
}

.duration {
    font-style: italic;
}

.myProjects {
    margin-top: 15px;
    border-bottom: 1px solid #985f6f;
}

h4 {
    margin-top: 5px;
}